 <!-- <input type="text" placeholder="ingrese su nombre" [(ngModel)]="nombre">  () = para pasar info del html al ts [] = para apsar info del ts al html [()] = banana model para pasar info del ts al html y del html al ts
{{nombre}}, {{apellido}} los valores entre llaves {{}} vienen del ts, cuando digo ts digo el component.ts de nuestro componente en este caso app-->
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- angular es un SinglePageApplication router outlet me muestra los compenentes dependiendo de la ruta-->

